.inventory-page-style{
    background-color: #0B0C10;
    color: white;
}
.inventory-card-style{
    background-color: #12232E !important;
    color: white;
}
.inventory-card-height{
    height: 19.688rem !important;
}