.inventory-page-style{
    background-color: #0B0C10;
    color: white;
}
.inventory-card-style{
    background-color: #12232E !important;
    color: white;
}
.inventory-card-height{
    height: 19.688rem !important;
}
.inventory-photo{
    height: 35.75rem !important;
}
@media screen and (max-width: 576px) {
    .inventory-photo{
        height: 30.88rem !important;
    }
}