.line-style{
    width: 25%;
    height: 1px;
    border: 1px solid white;
}
.google-size{
    font-size: 16px;
}
.social-login-button{
    background-color: #0d6efd;
    color: white;
    border: 1px solid white;
    width: 70%;
    padding-top: 9px;
    padding-bottom: 9px;
    border-radius: 30px;
}
.social-login-button:hover{
    background-color: white;
    color: #0d6efd;
    border: 1px solid #0d6efd;
}
.social-login-button:active{
    background-color: red;
    color: #0d6efd;
    border: 1px solid #0d6efd;
}