.banner-section{
    background-color: black;
}
.home-style{
    background-color: #0B0C10;
    color: white;
    padding-bottom: 40px;
}
.inventory-section{
    margin-top: 80px;
    margin-bottom: 80px;
}
.about-us{
    background-color: #12232E;
    padding: 40px;
    margin-top: 60px;
    margin-bottom: 50px;
}
.manage-inventories-btn{
    background-color: #0d6efd;
    width: 25%;
    color: white;
    text-decoration: none;
    padding: 15px 28px;
    border: 1px solid white;
    font-family: bold;
}
.manage-inventories-btn:hover{
    background-color: white;
    color: #0d6efd;
    border: 1px solid white;
}
.brand-section{
    padding-top: 20px;
    padding-bottom: 50px;
}
@media screen and (max-width: 576px) {
    .manage-inventories-btn{
        width: 90% !important;
    }
}