.login-style{
    background-color: #0B0C10;
    padding-top: 100px;
    padding-bottom: 100px;

}
h3{
    color: white;
}
p{
    color: white;
}
.login-form-style{
    width: 35%;
    background-image: linear-gradient(to right top, #051937, #002233, #012729, #1b2a23, #2a2c27);
    border: 1px solid black;
    padding:20px;
    border-radius: 30px;
}
.input-box{
    border-radius: 30px !important;
    color: black !important;
}
.submit-btn{
    width: 100%;
    padding: 9px 0;
    border-radius: 30px;
    background-color: black;
    color: white;
    border: 1px solid white;
}
.submit-btn:hover{
    background-color: white;
    color: #002233;
    border: 1px solid #002233;
}